<div id="v4-4" class="fpcc">
<div>
	<span>
		<h1 class="smuy">
		<span class="countClass"><%=getVal('findItemsByKeywordsResponse.paginationOutput.totalPages')%> </span> <span
			class="matchClass">results found for</span> <span class="keywordClass"
			id="v4-5"><%=searchTerm%> </span>
		</h1>
	</span>
	<span class="saveSearch"> </span>
	<span> </span>
</div>
</div>
